@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600|Open+Sans+Condensed:300,700);
body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: #222222;
  font-size: 12pt;
}
a {
  color: #1b587c;
  text-decoration: none;
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 32pt;
  margin: 0;
}
h2 {
  font-size: 25.6pt;
}
h3,
h4,
h5,
h6 {
  font-size: 19.2pt;
}
p {
  line-height: 150%;
}
.page-header {
  height: 400px;
  position: relative;
  z-index: 20;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.5) 100%);
}
.page-header a.home-link {
  text-decoration: none;
  color: inherit;
}
.page-image-box {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  height: 400px;
  background: url(../noise.png), url(../top-photos/hack-blue.jpg);
  background-position: center center;
  background-repeat: repeat, no-repeat;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  -webkit-background-size: auto, cover;
  background-size: auto, cover;
  /*background-image: url(top-photos/test-blue.jpg), url(noise.png);
    background-position: center center;
    background-repeat: no-repeat, repeat;
    -moz-background-size: cover, auto;
    -o-background-size: cover, auto;
    -webkit-background-size: cover, auto;
    background-size: cover, auto;*/

}
.page-header-title {
  z-index: 10;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 10px;
  height: auto;
  font-size: 32pt;
}
.page-header-title .main-title {
  position: absolute;
  left: -400px;
  width: 400px;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-align: left;
  height: auto;
  bottom: 0;
}
.page-header-title .sub-title {
  position: absolute;
  right: -400px;
  width: 400px;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  text-align: right;
  height: auto;
  bottom: 0;
  /*font-size: 60%;*/

}
.page-main {
  z-index: 10;
  background-color: #ffffff;
  position: relative;
  min-height: 400px;
  width: 100%;
  padding: 20px 0 0 0;
}
.page-main-body {
  z-index: 10;
  position: relative;
  width: 800px;
  margin: 10px auto;
}
article .post-content h1:nth-child(1) {
  display: none;
}
article .post-content ul:nth-child(2) {
  display: none;
}
article .post-metadata {
  font-size: 70%;
  opacity: 0.6;
}
.button {
  padding: 10px;
  margin: 10px;
}
.actions {
  margin: 20px 0;
}
.actions .button {
  padding: 10px;
  margin: 20px 10px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
a.button:hover {
  text-decoration: underline;
}
.post-in-list {
  margin-top: 30px;
}
.page-header-center-logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  position: absolute;
  bottom: -50px;
  left: 50%;
  right: 50%;
  margin: 0 -50px;
  background-image: url('../center-aligned-no-shadow-small.png');
  background-position: center center;
  -moz-background-size: 75px;
  -o-background-size: 75px;
  -webkit-background-size: 75px;
  background-size: 75px;
  background-repeat: no-repeat;
  /*-moz-transition: -moz-transform 1s ease-in-out;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);*/

  -moz-animation-name: spin;
  -o-animation-name: spin;
  -webkit-animation-name: spin;
  animation-name: spin;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  /* 3 seconds */

  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.page-header-center-logo:hover {
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
@-moz-keyframes noSpin {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes noSpin {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes noSpin {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.side-menu {
  width: 150px;
  z-index: 105;
  position: absolute;
  overflow-x: visible;
  left: -180px;
  margin-top: 70px;
}
.side-menu a {
  color: #1b587c;
  text-decoration: none;
}
.side-menu a.menu-item {
  margin: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 32pt;
  display: block;
  position: relative;
  width: 800px;
  pointer-events: none;
  text-transform: uppercase;
}
.side-menu a.menu-item .main-menu-title {
  width: 150px;
  text-align: right;
  pointer-events: all;
  display: inline-block;
}
.side-menu a.menu-item .menu-extra-text {
  opacity: 0;
  background-color: #fff;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  padding-right: 10px;
  pointer-events: none;
}
.side-menu a.menu-item:hover .menu-extra-text {
  opacity: 1;
}
.whats-cool {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 150%;
  margin-top: 30px;
}
.whats-cool p {
  margin: 0;
}
